{% extends 'base.html' %}
{% block title %}Verify Otp - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/auth.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Verify Otp</div>
<p>This is your verify otp page.</p>
<form method='post'>
    <p><strong>Template path:</strong> auth/verify_otp.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/auth.js') }}'></script>
{% endblock %}
