*.bak
*.db
*.egg-info/
*.env
*.log
*.pyc
*.pyd
*.pyo
*.sqlite3
*.swp
*.tmp
*~
.DS_Store
.env
.env.*
.idea/
.vscode/
__pycache__/
app/query
build/
dist/
instance/
pip-wheel-metadata/
static/images/
static/uploads
venv/