{% extends 'base.html' %}
{% block title %}Merchant Payment - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/payment.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Merchant Payment</div>
<p>This is your merchant payment page.</p>
<form method='post'>
    <p><strong>Template path:</strong> payment/merchant_payment.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/payment.js') }}'></script>
{% endblock %}
