{% extends 'base.html' %}
{% block title %}User Dashboard - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/dashboard.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>User Dashboard</div>
<p>This is your user dashboard page.</p>
<form method='post'>
    <p><strong>Template path:</strong> dashboard/user_dashboard.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/dashboard.js') }}'></script>
{% endblock %}
