{% extends 'base.html' %}
{% block title %}Login Activity - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/security.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Login Activity</div>
<p>This is your login activity page.</p>
<form method='post'>
    <p><strong>Template path:</strong> security/login_activity.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/security.js') }}'></script>
{% endblock %}
