{% extends 'base.html' %}
{% block title %}Security Question - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/security.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Security Question</div>
<p>This is your security question page.</p>
<form method='post'>
    <p><strong>Template path:</strong> security/security_question.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/security.js') }}'></script>
{% endblock %}
