{% extends 'base.html' %}
{% block title %}Notification Settings - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/notifications.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Notification Settings</div>
<p>This is your notification settings page.</p>
<form method='post'>
    <p><strong>Template path:</strong> notifications/notification_settings.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/notifications.js') }}'></script>
{% endblock %}
