.input-field{
    width:100%;
    padding:14px;
    border:1px solid #d1d5db;
    border-radius:16px;
    outline:none;
    transition:0.3s;
    background:white;
}

.input-field:focus{
    border-color:#2563eb;
    box-shadow:0 0 0 4px rgba(37,99,235,0.15);
}

.error-message{
    color:#ef4444;
    font-size:14px;
    margin-top:6px;
}