{% extends 'base.html' %}
{% block title %}Manage Transaction - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/admin.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Manage Transaction</div>
<p>This is your manage transaction page.</p>
<form method='post'>
    <p><strong>Template path:</strong> admin/manage_transaction.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/admin.js') }}'></script>
{% endblock %}
