{% extends 'base.html' %}
{% block title %}Scheduled - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/transactions.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Scheduled</div>
<p>This is your scheduled page.</p>
<form method='post'>
    <p><strong>Template path:</strong> user_transactions/scheduled.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/transactions.js') }}'></script>
{% endblock %}
