{% extends 'base.html' %}
{% block title %}Bill History - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/bills.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Bill History</div>
<p>This is your bill history page.</p>
<form method='post'>
    <p><strong>Template path:</strong> bills/bill_history.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/bills.js') }}'></script>
{% endblock %}
