{% extends 'base.html' %}
{% block title %}Mobile Recharge - ePaisa{% endblock %}
{% block section_css %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/bills.css') }}'>
{% endblock %}
{% block content %}
<div class='page-title'>Mobile Recharge</div>
<p>This is your mobile recharge page.</p>
<form method='post'>
    <p><strong>Template path:</strong> bills/mobile_recharge.html</p>
</form>
{% endblock %}
{% block section_js %}
<script src='{{ url_for('static', filename='js/bills.js') }}'></script>
{% endblock %}
