{% extends "wallet/base.html" %}

{% block content %}

<h2>Confirm Transaction</h2>

<div class="confirmation-box">

    <p>
        Receiver:
        {{ receiver }}
    </p>

    <p>
        Amount:
        Rs. {{ amount }}
    </p>

    <p>
        Fee:
        Rs. {{ fee }}
    </p>

    <form method="POST">

        <button
        type="submit"
        name="action"
        value="confirm">

        Confirm

        </button>

        <button
        type="submit"
        name="action"
        value="cancel">

        Cancel

        </button>

    </form>

</div>

{% endblock %}